body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
#classes {
    width: 80%;
    height: 80vh;
    background: linear-gradient(180deg,rgb(0, 136, 255),rgb(0, 0, 0));
    margin : auto;
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding : 10px;
    overflow:hidden;
}

#classes .class {
    width  :80%;
    height : 20%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding : 10px;
    margin : 10px;
    text-align: center;
    color:rgb(0, 0, 0);
    
}

#classes a {
    text-decoration: none;
    color: black;
}