body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
#main1 {
    min-width : 100%;
    min-height: 100%;
    background-image: url(college.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background:rgb(255, 255, 255);
    width : auto;
    height : auto;
    text-align: center;

}
#Back {
    padding : 10px 15px;
    margin:10px;
    font-size: 1.2em;
    font-weight: bold;
    border : none;
    border-radius : 10px;
    cursor : pointer;
    color : rgb(255, 255, 255);
    margin-left:8%;
    background-color: rgb(255, 0, 0);
}
#students {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.student {
    min-width  :60%;
    min-height : 300px;
    width : auto;
    height : auto;
    border-radius: 10px;
    background-color: rgb(141, 153, 215);
    padding : 10px;
    margin : 10px;
    text-align: center;

    padding : 10px;
}

.student img,h2,p,button {
    display : block;
    text-align: center;
    margin : auto;
    margin-top : 10px;
}
.student img {
    border-radius: 10px;
}

.student button {
    padding : 10px;
    font-size: 1.2em;
    font-weight: bold;
    border : none;
    border-radius : 10px;
    cursor : pointer;
    color : rgb(0, 0, 0);
}

.student .present {
    background-color :rgb(24, 234, 24);

}
.student .absent {
    background-color :rgb(234, 24, 24);

}

.student p {
    font-size: 1em;
    font-weight: bold;
}

#main1 #reviewBtn {
    padding : 10px;
    font-size: 1.2em;
    font-weight: bold;
    border : none;
    border-radius : 10px;
    cursor : pointer;
    color : rgb(0, 0, 0);
    margin-top : 10px; 
    background-color: rgb(79, 255, 255);
}

#addDiv {
    width : 100%;
    position: absolute;
    
}

#addDiv button {
    position : fixed;
    top : 80%;
    padding: 15px;
    margin-left : 85%;
    margin-bottom : 10px;
    font-size: 2.2em;
    font-weight: bold;
    background-color: rgb(5, 209, 255);
    border : none;
    border-radius : 100%;
    color : white;

}

#mainPopup , #mainpopupTable{
    min-width: 100%;
    min-height :600vh;
    width : auto;
    height : auto;
    position: absolute;
    opacity : 1;
    text-align: center;
    background-color: black;
    z-index: 5;
    display: block;
    margin:0;
    padding:0;
    top:0;
    display:none;
}
.display {
    display: block;
}

#popup {
    width:40%;
    height: auto;
    background-color: white;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 8%;
    z-index:6;
    position :sticky;
    top:8%;
}

#popup table button {
    padding : 10px;
    font-size: 1.2em;
    font-weight: bold;
    border : none;
    border-radius : 10px;
    cursor : pointer;
    color : rgb(255, 255, 255);

    margin:20px;
    background-color: rgb(0, 255, 0);
}
#popup table #selectReasons {
    width: 80%;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;

}

#popup table #cancelPopup {
    background-color: red;
}

#popup table #collegeName {
    visibility: visible;
}
#popup table #OTHERS {
    visibility: hidden;
}

@media screen and (max-width: 700px) {
    #popup {
        width: 80%;
    }
    
}

#popup table label {
    font-size: 1.2em;
    font-weight: bold;

}
#popup table input {
    padding: 8px;
    margin: 10px;
    font-weight: bold;
    font-size: 1em;
    width: 70%;
    text-align: center;
}

#closeTable {
    padding : 10px;
    font-size: 1.2em;
    font-weight: bold;
    border : none;
    border-radius : 10px;
    cursor : pointer;
    color : rgb(255, 255, 255);
    margin: 10px; 
    margin:auto;
    background-color: rgb(255, 0, 0);
}

#Processing {
    background-color: rgb(0, 255, 0);
    width:200px;
    text-align: center;
    padding:10px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 4;
    color:rgb(255, 255, 255);
    position: sticky;
    top:20px;
    display: none;
}

#altPopup {
    width:60%;
    height: auto;
    background-color: white;
    text-align: center;
    padding:10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 8%;
    z-index:6;
    position :sticky;
    top:8%;
}

#altPopup button {
    padding : 10px;
    font-size: 1.2em;
    font-weight: bold;
    border : none;
    border-radius : 10px;
    cursor : pointer;
    color : rgb(255, 255, 255);
    margin:auto;
    text-align: center;
    display:inline;
    
}
#altPopup #yesBtn {
    background-color: rgb(0, 255, 0);
    margin:10px;
}
#altPopup #noBtn {
    background-color: red;
    margin:10px;
}

@media screen  and (max-width: 700px) {
    #popup table {
        width: 100%;

    }
    #popup table th {
        font-size: .8em;
        margin:0px;
        padding:0px;
    }
    #popup table td {
        margin:0px;
        font-size: .7em;
        padding:0px;
    }
    
}

.PBtn {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding : 8px;
    margin : auto;
    margin-top:10px;
    border: none;
    border-radius: 10px;
    color: white;
    
}

#saveBtn {
    background-color: hsl(120, 100%, 50%);

}
#cancelBtn {
    background-color: red;

}

.student .result {
    font-size: 1.5em;
    font-weight: bold;

}

#shortCut {
    font-size: 1.2em;
    background-color:hsl(130, 100%, 50%);
    color:rgb(0, 0, 0);
    text-align: center;
    padding:8px;
    border:none;
    margin:auto;
    border-radius: 10px;
    padding:10px;
    font-weight: bold;
}